body{
    background-color: #191919;
}

.top{
    display: flex;
    margin : auto;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.left{
    margin-left: 1em;
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 0.3em 0.7em;
    cursor: pointer;
}

.right{
    margin-right: 1em;
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 0.3em 0.7em;
    cursor: pointer;
}
.start,.stop{
    padding: 0.5em 1em;
    background-color: #08f;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.1s ease-in;
}

.start:hover{
    background-color: red;
}

.start:active{
    background-color: green
}
.stop:hover{
    background-color: red;
}
.stop:active{
    background-color: green;
}
.score{
    margin: auto;
    width: fit-content;
    font-size: 2rem;
    color: white;
}
.play-area{
    width: 1240px ;
    height: 500px;
    background-color: #9C7CFA;
    position: relative;
    margin: auto;
    margin-top: 1em;
    border-radius: 10px;
    overflow: hidden;
}

.block{
    width: 50px;
    height: 25px;
    background-color :#B30E16;
    position: absolute;
    border-radius: 5px;
}

.player-block{
    width: 250px;
    height: 10px;
    background-color: #08f;
    position: absolute;
    border-radius: 5px;
}

.ball{
    width: 20px;
    height: 20px;
    background-color: #F2E60F ;
    position: absolute;
    border-radius: 50%;
    z-index: 2 ;
}

