@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease-in-out;
}

.header{
    margin : 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    
    h1{
        text-align: center;
        display: inline-block;
        letter-spacing: 0.25em; 
    }

    .night-mode-toggle{
        width: 30px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    
    .animation-box{
        width: 80px;
        height: 15px;
        border-radius: 15px;
        position: relative;
        .animation-circle{
            position: absolute;
            background-color: #dc3545;
            height: 15px;
            width: 15px;
            border-radius: 15px;
            top: 0;
            left :0 ;
        }
    }
}

.animate{
    animation: timeAnimation 1s linear 1s infinite alternate ;
}

.stats{
    display: flex;
    width: 80%;
    margin: 1em auto;
    justify-content: space-between;
    align-items: center;

    div{
        font-size: 1.5rem;
        padding: 0.3em 0.75em;
    }
}
.start,.next{
    background-color: #0d6efd;
    border: none;
    color :white ;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in ;

    &:hover{
        background-color: #ffc107;
    }
}

.container{
    width: 80%;
    margin: 2em auto 2em;

    .question{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1em;
        padding: 0.1em 0.5em;
    }

    .options{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap : 1em ;
    }

    .option1,.option2,.option3,.option4{
        display: flex;
        justify-content: space-between;
        align-items: center;


        pre{
            padding: 0.5em 1em;
            font-size: 1rem;
        }
        .select{
            margin-right: 1.5em;
            background-color: white ;
            border: none;
            outline: 3px solid #0d6efd;
            width: 2.5%;
            aspect-ratio: 1;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.1s ease-in ;
            opacity: 0;

            &:hover{
                outline-width: 3px;
                outline-color: #ffc107;
            }
        }
    }
}


.footer{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;

    .timer{
        font-size: 1.5rem;
    }
    div{
        font-size: 1.5rem;
        padding: 0.3em 0.75em;
    }
}

.night-mode{
    background-color: black;
    color : white ;
}

.time-log{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    margin: 1em auto ;
    height: fit-content;

    pre{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
    }
}


@media (max-width:800px) {
    .stats{
        flex-direction: column;
    } 

    .time-log{
        grid-template-columns: repeat(3,1fr);
    }
}



@media (max-width:600px) {
    main{
        width: 85%;
    }
    .container .option1 .select{
        width : 7px;
        height: 7px;
    }

    .container .option2 .select{
        width : 7px;
        height: 7px;
    }

    .container .option3 .select{
        width : 7px;
        height: 7px;
    }

    .container .option4 .select{
        width : 7px;
        height: 7px;
    }

    .time-log{
        grid-template-columns: repeat(2,1fr);
    }
}

@keyframes timeAnimation{
    from{
        left: 0;
    }
    to{
        left : 45px ;
    }
}
